/*.progress-bar{*/
/*  !*rotate: 90deg;*!*/

/*  width: 20%;*/
/*}*/
table {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  border-collapse: collapse;
  text-align: center;
  width:  100%;
  background-color: white;
  /*margin-right: 10%;*/

}
#sp-table{
  width: 70%;
  float: right;
  margin-top: 7%;
  padding-left: 3%;
}
app-uploader{
  width: 39%;
  margin-top:1%;

}
/*label{*/
/*  !*margin-top: 2%;*!*/
/*  color: #1160D6;*/
/*  text-align: left;*/
/*}*/
.upload-label{
  float: left;
  padding-left: 3%;
  margin-top: 3%;
}

.label{
  margin-top: 2%;
  margin-bottom: 2%;
  color: #0D27D4;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline #0D27D4;

}
app-menu{
  position: fixed;
  left: 0;
}
.progress{
  height: 3%;
  margin-top:2%;
  margin-left:auto;
  margin-right:auto;
}
