<!--<div class="progress">-->
<!--  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--</div>-->
<!--<div class="upload-label">-->
<!--  <div id="first">-->
<!--    <label class="label fs-4 fw-bold px-2">Загрузить биллинги</label>-->
<!--    <app-uploader id="billing"></app-uploader>-->
<!--  </div>-->
<!--  <div id="sec">-->
<!--    <label class="label fs-4 fw-bold px-2">Загрузить счета</label>-->
<!--    <app-uploader id="invoice"></app-uploader>-->
<!--  </div>-->
<!--</div>-->

<div id="table">
  <ng-container *ngIf="none==true;then Full else None"></ng-container>
  <ng-template #Full>
    <div class="progress-icon">
      <div class="circle"></div>
      <span class="navbar-brand m-5 h1 fw-bold fs-4">Биллинги</span>
      <div id="billing" class="progress-item py-3" *ngFor="let item of files">
        <a *ngIf="item.id!==undefined && item.filename!==undefined"
           (click)="downloadBilling(item.id, item.filename)">{{item.filename}}</a> - <a>{{item.status}}</a>
      </div>
      <div class="circle"></div>
      <span class="navbar-brand m-5 h1 fw-bold fs-4">Согласование SLA</span>
      <div id="uspfile" class="progress-item py-3">
        <a (click)="downloadSLA(fileuspid,fileusp)">{{fileusp}}</a>
        <br>
        <ng-container *ngIf="agreed==null;then Null else Some"></ng-container>
        <ng-template #Some>
          <ng-container *ngIf="agreed;then Yes else No"></ng-container>
          <ng-template #Yes>
            <span class="navbar-brand h1 fw-bold fs-6">Согласовано</span>
          </ng-template>
          <ng-template #No>
            <span class="navbar-brand h1 fw-bold fs-6">Не согласовано</span>
          </ng-template>
        </ng-template>
        <ng-template #Null>
          <ng-container *ngIf="fileusp!=undefined;then Ask else No"></ng-container>
          <ng-template #Ask>
            <span class="navbar-brand h1 fw-bold fs-6">Согласовать?</span>
            <div>
              <form>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                  <label class="form-check-label" for="gridRadios1">
                    Да
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Нет
                  </label>
                </div>
                <button type="submit" class="btn btn-primary" (click)="approveSla(fileuspid)">Отправить</button>
              </form>
            </div>
          </ng-template>
          <ng-template #No>
            <span class="navbar-brand h1 fs-6">Файлы не загружены</span>
          </ng-template>
        </ng-template>

      </div>
      <div class="circle"></div>
      <span class="navbar-brand m-5 h1 fw-bold fs-4">Счета</span>
      <div id="invoice" class="progress-item py-3" *ngFor="let item of invoicesfile">
        <a *ngIf="item.id!==undefined && item.filename!==undefined"
           (click)="downloadInvoice(item.id,item.filename)">{{item.filename}}</a>
      </div>
    </div>
  </ng-template>
<ng-template #None>
  <div class="progress-icon">
    <span class="navbar-brand m-5 py-5 h1 fw-bold fs-4">Нет данных</span>
  </div>
</ng-template>

</div>
<!--  <div class="progress">-->
<!--    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"-->
<!--         aria-valuemax="100"></div>-->
<!--  </div>-->
<!--  <div class="progress" >-->
<!--    <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">загрузка 15 {{month}}-25 {{month}}</div>-->
<!--    <div class="progress-bar bg-info text-bg-info" role="progressbar" style="width:20%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">проверка биллингов (5 дней)</div>-->
<!--    <div class="progress-bar bg-success text-bg-success"  role="progressbar" style="width:20%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">согласование с SLA (с 1 числа)</div>-->
<!--    <div class="progress-bar bg-warning  text-bg-warning" role="progressbar" style="width:20%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">загрузка счетов (3 дня)</div>-->
<!--    <div class="progress-bar bg-danger  text-bg-danger" role="progressbar" style="width:20%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">оплата (30 дней)</div>-->
<!--  </div>-->

<!--  <div id="sp-table" class="py-3 px-5">-->
<!--&lt;!&ndash;    <table class="table py-4 mx-lg-5">&ndash;&gt;-->
<!--&lt;!&ndash;      <thead>&ndash;&gt;-->
<!--&lt;!&ndash;      <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <th scope="col">Файл</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th scope="col">Период</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th scope="col">Дата</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th scope="col">Статус</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <th scope="col">Комментарий</th>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;      </thead>&ndash;&gt;-->
<!--&lt;!&ndash;      <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;      <tr *ngFor="let item of files">&ndash;&gt;-->
<!--&lt;!&ndash;        <th scope="row">{{item.filename}}</th>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{item.period}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{item.date}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;      <div *ngIf="item.status===status[1];then Bold"></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;      <ng-template #Bold><td class="fw-bold">{{item.status}}</td></ng-template>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;      <div *ngIf="item.status===status[1];then None"></div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngIf="item.status===status[0];then Bold0"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #Bold0>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="text-info">{{item.status}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngIf="item.status===status[1];then Bold"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #Bold>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="fw-bold text-danger">{{item.status}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngIf="item.status===status[2];then Bold2"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #Bold2>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="fw-bold text-warning">{{item.status}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngIf="item.status===status[3];then Bold3"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #Bold3>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="fw-bold text-success">{{item.status}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngIf="item.status===status[4];then Bold4"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #Bold4>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="fw-bold text-success">{{item.status}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngIf="item.status===status[5];then Bold5"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #Bold5>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="fw-bold text-success">{{item.status}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngIf="item.status===status[6];then Bold6"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #Bold6>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="fw-bold text-success">{{item.status}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngIf="item.status===status[7];then Bold8"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #Bold8>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="fw-bold text-success">{{item.status}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;        <div *ngIf="item.status===status[8];then Bold9"></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <ng-template #Bold9>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="fw-bold text-success">{{item.status}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash;      <ng-template #None><td>{{item.status}}</td></ng-template>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <td>{{item.comm}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;      </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
