/*.progress-bar{*/
/*  !*rotate: 90deg;*!*/

/*  width: 20%;*/
/*}*/
table {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  border-collapse: collapse;
  text-align: center;
  width:  100%;
  background-color: white;
  height: 100%;
  margin-left: auto;
    margin-right: auto;
  /*margin-right: 10%;*/

}
#sp-table{
  width: 80%;
  margin-top: 3%;
  float: left;

  height: 100%;
}
app-uploader{
  width: 20%;
  margin-top:1%;

}
/*label{*/
/*  !*margin-top: 2%;*!*/
/*  color: #1160D6;*/
/*  text-align: left;*/
/*}*/
.upload-label{
  float: left;
  padding-left: 3%;
  margin-top: 3%;
}

.label{
  margin-top: 2%;
  margin-bottom: 2%;
  color: #0D27D4;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline #0D27D4;

}
app-menu{
  position: fixed;
  left: 0;
}
.progress{
/*padding-bottom: 2%;*/
  height: 5vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
#table{
  height: 100%;
  float: left;
}
.progress-bar{
  height: 100%;
}
