<app-menu></app-menu>
<div class="ct">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Название СП или ФИО</label>
      <input [(ngModel)]="name" name="name" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Иванов Иван Иванович"  required>
      <div class="invalid-feedback">
        Обязательное поле.
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput2">Email</label>
      <input [(ngModel)]="email" name="email" type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com" required>
      <div class="invalid-feedback">
        Обязательное поле.
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput3">Логин</label>
      <input (blur)="CheckUser(login)" [(ngModel)]="login" name="login" type="text" class="form-control" id="exampleFormControlInput3" placeholder="Логин" required minlength="5">
      <div *ngIf="!isUse" class="invalid-feedback">
        Пользователь с таким логином уже существует.
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput5">Телефон</label>
      <input [(ngModel)]="phone" name="phone" type="text" class="form-control" id="exampleFormControlInput5" placeholder="+79876543210" required minlength="10">
      <div class="invalid-feedback">
      Обязательное поле.
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput6">Роль</label>
      <select [(ngModel)]="role" name="role"  id="exampleFormControlInput6" class="form-select" >
        <option *ngFor="let r of roles">{{r}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput4">Пароль</label>
      <input [(ngModel)]="password" name="pwd" type="password" class="form-control" id="exampleFormControlInput4" required minlength="8">
    </div>
    <div class="invalid-feedback">
      Обязательное поле.
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary mb-2" (click)="AddUser()">Добавить</button>
    </div>
  </form>
</div>

