/*.carousel-inner{*/
/*  width: 100%*/
/*}*/
.container{
  padding-top: 4%;
}
a{
  text-decoration: none;
}
img{

  width: 100%;
  height: 100%;
  float: left;
  margin: 3px;
  padding: 3px;
  object-fit: cover;
}
.border-bottom{
  float: left;
}
.news{
  color:#0D27D4;
  font-weight: bold;
}
/*.img-fluid{*/
/*  object-fit: cover;*/
/*  width: 100%;*/
/*  height: 100%;*/

/*}*/
.cont_img{
  width: 20vw;
  height: 38vh;
}
