div{
  width: 76%;
}
/*app-sp-page{*/
/*  display: inline-flex;*/
/*}*/
app-menu{
  float: left;
  position: fixed;
  left: 0;
}
#a-table{
  border-left: 0.5vw solid #2A6879;
  margin-left: 20.5%;
  width: 79.5%;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 3%;
  background-color: #C5DCFF;

}
.navbar-brand{
  color: #1160D6;
  font-weight: bold;
  margin: 0;
  width:60%;
  height: 40px;
  float: left;
}
app-sp{
  float: left;
}
.progress-sp{
  width: 40%;
  float: left;
}
.navbar-brand-bottom{
  margin-top:5%;
  width:60%;
  height: 100%;
  float: left;
}
