app-news-page{
  display: inline-flex;
}
app-news,app-menu{
  float: left;
}
app-menu{
  position: fixed;
  left: 0;
}

div{
  border-left: 5px solid #2A6879;
  margin-left: 20%;
  width: 79.5%;
  min-height: 100vh;
  height: 100%;
  background-color: #C5DCFF;
  display: flex;
}
app-news{
  object-fit: inherit;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}
.body{
  height: 100%;
  min-height: 100vh;
  width:80%;
}
