app-news-page{
  display: inline-flex;
}
app-news,app-menu{
  float: left;
}

div{
  border-left: 0.5vw solid #2A6879;
  margin-left: 20.5vw;
  width: 77vw;
  height: 100vh;
  background-color: #C5DCFF;
  display: flex;
}
app-news{
  object-fit: inherit;
  width: inherit;
}
