<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Название СП</th>
      <th scope="col">Период</th>
      <th scope="col">Дата</th>
      <th scope="col">Статус</th>
      <th scope="col">Файл</th>
      <th scope="col">Комментарий</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Mark</td>-->
<!--      <td>Otto</td>-->
<!--      <td>@mdo</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">3</th>-->
<!--      <td>Larry</td>-->
<!--      <td>the Bird</td>-->
<!--      <td>@twitter</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
    </tbody>
  </table>
</div>
