<!--<div *ngIf="url==='/usp'" class="first">-->
<!--  <a routerLink="/usp/sla"><span class="label fs-4 fw-bold px-5 py-3">Загрузить SLA</span></a>-->
<!--</div>-->

<!--<div *ngIf="url==='/usp/sla'" class="first">-->
<!--  <label class="label fs-4 fw-bold px-5 py-3">Загрузить SLA</label>-->
<!--  <app-uploader id="sla1"></app-uploader>-->
<!--</div>-->
<table class="table">
  <thead>
  <tr>
    <th scope="col">Название СП</th>
    <th scope="col">Период</th>
    <th scope="col">Загрузить файл SLA</th>
    <th scope="col">Согласовано</th>
    <th scope="col">Счёт</th>
    <th scope="col">Дата оплаты</th>
  </tr>
  </thead>
  <tbody>
  <!--  <tr *ngIf="file.length==0">-->
  <!--    <td colspan="6">Файлы еще не загружены...</td>-->
  <!--  </tr>-->

  <tr *ngFor="let item of rows;let i=index">

    <th scope="row">{{item.sp}}</th>
    <td>{{item.period}}</td>
    <td>
      <ng-container *ngIf="item.sla!==undefined;then Exist else Non"></ng-container>
      <ng-template #Exist>{{item.sla}}
      <a class="change" (click)="change(i)"><img src="././assets/edit-button.svg" class="edit"></a>
      </ng-template>
      <ng-template #Non>
        <app-uploader *ngIf="item.id!==undefined" (click)="SetSP(item.id)" id="sla"></app-uploader>
      </ng-template>
      <ng-container *ngIf="item.visible;then Hide else Show"></ng-container>
      <ng-template #Hide>
        <app-uploader *ngIf="item.id!==undefined" (click)="SetSP(item.id)" id="sla1"></app-uploader>

      </ng-template>
      <ng-template #Show>
      </ng-template>
    </td> <!--todo если файла нет то аплоад если файл есть то название файла и скачать -->
    <td>
      {{item.is_agreed}}
    </td>
    <!--    <td>{{item.status}}</td>-->
    <!--    <td id="downloadFile" title="скачать файл" (click)="downloadFile(i)">{{item.filename}}</td>-->
    <!--    <td>-->
    <!--      <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="item.comment" (blur)="SetComment(i)"-->
    <!--                placeholder="Введите замечания"></textarea>-->
    <!--    </td>-->
    <td>
      <ng-container  *ngFor="let it of invoices">
        <a *ngIf="it.id!=undefined" (click)="SaveInvoice(it.id)">{{it.filename}}</a><br>
      </ng-container>
    </td>
    <td>оплата через 30 календарных дней после получения документов по ЭДО или оригиналов </td>
  </tr>
  </tbody>
</table>
