<nav class="nav flex-column ms-4">
  <p class="navbar-brand mt-5 " href="#">
    <span class="navbar-brand m-5 h1 fw-bold fs-3">Ланта Сервис</span>
  </p>
  <div class="navbar-brand my-4" href="#">
    <div *ngIf="name!=='';then Name else Null"></div>
    <ng-template #Name><span class="navbar-brand m-5 h1 fw-bold fs-4">{{name}}</span></ng-template>
    <ng-template #Null><span class="navbar-brand m-5 h1 fw-bold fs-4"></span></ng-template>
  </div>
  <div *ngIf="role=='администратор';then Admin"></div>
  <ng-template #Admin>
    <a class="nav-link px-5 fs-5" routerLink="/news">Новости</a>
<!--    <a class="nav-link px-5 fs-5"  routerLink="/knowledge">База знаний</a>-->
    <a class="nav-link px-5 fs-5"  id="analytic" routerLink="/analytic">Аналитика</a>
    <a class="nav-link px-5 fs-5"  id="usp" routerLink="/usp">УСП</a>
<!--    <a class="nav-link  px-5 fs-5"  id="archive" routerLink="/archive">Архив</a>-->
    <a class="nav-link  px-5 fs-5"  id="admin" routerLink="/admin">Администрирование</a>
    <button  type="submit" class="btn btn-primary mb-2" (click)="Logout()">Выйти</button>
<!--    <button [hidden]="true" type="submit" class="btn btn-primary mb-2" (click)="Login()">Войти</button>-->
  </ng-template>
  <div *ngIf="role==='усп';then Usp"></div>
  <ng-template #Usp>
    <a class="nav-link px-5 fs-5" routerLink="/">Новости</a>
    <a class="nav-link px-5 fs-5" routerLink="/usp">Взаиморасчёт</a>
<!--    <a class="nav-link px-5 fs-5" routerLink="/knowledge">База знаний</a>-->
    <button   type="submit" class="btn btn-primary mb-2" (click)="Logout()">Выйти</button>
<!--    <button [hidden]="true" type="submit" class="btn btn-primary mb-2" (click)="Login()">Войти</button>-->
  </ng-template>
  <div *ngIf="role==='аналитик';then Analytic"></div>
  <ng-template #Analytic>
    <a class="nav-link px-5 fs-5" routerLink="/">Новости</a>
    <a class="nav-link px-5 fs-5" routerLink="/analytic">Взаиморасчёт</a>
<!--    <a class="nav-link px-5 fs-5" routerLink="/knowledge">База знаний</a>-->

    <button type="submit" class="btn btn-primary mb-2" (click)="Logout()">Выйти</button>
<!--    <button [hidden]="true" type="submit" class="btn btn-primary mb-2" (click)="Login()">Войти</button>-->
  </ng-template>
  <div *ngIf="role==='сп';then Sp"></div>
  <ng-template #Sp>
    <a class="nav-link px-5 fs-5" routerLink="/">Новости</a>
     <a class="nav-link px-5 fs-5" routerLink="/sp">Взаиморасчёт</a>
    <a class="nav-link px-5 fs-5" routerLink="/knowledge">База знаний</a>
    <button  type="submit" class="btn btn-primary mb-2" (click)="Logout()">Выйти</button>
    <!--    <button [hidden]="true" type="submit" class="btn btn-primary mb-2" (click)="Login()">Войти</button>-->
  </ng-template>
  <div *ngIf="role===null;then None"></div>
  <ng-template #None>
    <a class="nav-link px-5 fs-5" routerLink="/">Новости</a>
<!--    <button [hidden]="true"  type="submit" class="btn btn-primary mb-2" (click)="Logout()">Выйти</button>-->
    <button type="submit" id="login" class="btn btn-primary mb-2" (click)="Login()">Войти</button>
  </ng-template>
 </nav>




